.App {
  text-align: center;
}

.article_cards {
  display: grid;
  grid-template-areas: 'main-story main-story main-story'
  'sub-left sub-left sub-right'
  'sub sub sub';

  padding: 2rem;
}

.article_cards section {
  padding: 1rem;
  margin: 2rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
}

img {
  max-width: 100%;
}

.article_cards .article_headline {
  grid-area: main-story;
}

.article_cards .article_sub_left {
  grid-area: sub-left;
}

.article_cards .article_sub_right {
  grid-area: sub-right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
